.projectSummary {
  background: #010F52;
  color: #fff;
  padding-top: 140px;
  padding-bottom: 148px;
  position: relative;
}
.projectSummary::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 81%;
  height: 31.5px;
  background: #024787;
  border-radius: 32px 32px 0 0;
  z-index: 1;
  bottom: 0;
}

.ProjectSummaryContent {
  max-width: 738px;
  width: 100%;
  margin-left: auto;
  margin-right: 75px;
  opacity: 0;
}
.animate .ProjectSummaryContent {
  animation: fadeIn .5s .5s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.ProjectSummaryContent h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 19px;
}
.ProjectSummaryContent h2 strong {
  color: #61DCAB;
}
.ProjectSummaryContent p {
  font-size: 20px;
  line-height: 25px;
}
.ProjectSummaryContent p:not(:first-of-type) {
  margin-top: 19px;
}
.ProjectSummaryContent a {
  display: inline-block;
  cursor: pointer;
  border: 0;
  background: 0;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  padding: 12px 50px;
  transition: all .3s ease-in-out;
  margin-top: 30px;
}
.ProjectSummaryContent a:hover {
  background: #61DCAB;
  color: #010F52 !important;
  box-shadow: inset 0 0 0 1px #61DCAB;
}

.goalImage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -220px;
  opacity: 0;
}
.animate .goalImage {
  animation: moveToRight .5s .5s forwards;
}
@keyframes moveToRight {
  0% {
    opacity: 0;
    left: -532px;
  }
  100% {
    opacity: 1;
    left: -220px;
  }
}

@media screen and (max-width: 1199px) {
  .goalImage {
    left: -310px;
  }
  @keyframes moveToRight {
    0% {
      opacity: 0;
      left: -532px;
    }
    100% {
      opacity: 1;
      left: -310px;
    }
  }
}

@media screen and (max-width: 991px) {
  .goalImage {
    display: none;
  }

  .ProjectSummaryContent {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .projectSummary {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .ProjectSummaryContent h2 {
    font-size: 28px;
    line-height: 42px;
  }
  .ProjectSummaryContent p {
    font-size: 16px;
    line-height: 22px;
  }
  
  .ProjectSummaryContent a {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 30px;
  }
}